/* All */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
/* Container */
.container {
    width: 90%;
    margin: 0 auto;
}
/* Link */
a {
    text-decoration: none;
    color: inherit;
}
/* Body */
body {
    font-family: 'Lexend Deca', sans-serif;
    color: #F2F2F2;
}
/* Heading */
h1, h2, h3, h4 {
    font-family: 'Big Shoulders Display', cursive;
}